    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        height: 100vh;
    }

    p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    .container{
        display: grid;
        padding: 10px;
        margin: 10px;
        font-size: 1.1em;
        width: auto;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

        #fotogithub{
            border-radius: 5px 5px;
            position: relative;
            bottom: -60px;
            height: 60px;
        }

        #copi{
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 270px;
        left: 10px;
        right: 100px;
        }

    /* footer{
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50px;
    } */

    footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* tira o 100vh */
    margin-top: 20px;
}